@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* В аргументах миксина мы будем указывать несколько вариантов брейкпойнов, таких как
 * -phone
 * -tab-port
 * -tab-land
 * -big-screen */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 1260px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #fff;
  padding: 5rem;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  70% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
body {
  font-family: "Roboto";
  font-weight: 400;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #fff;
  text-transform: uppercase;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 1rem;
  margin-bottom: 1.5rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1260px) {
  .title-first__main {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__main {
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
    letter-spacing-margin-bottom: 0;
  }
}
.title-first__secondary {
  display: block;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.12em;
  text-transform: lowercase;
  animation-name: rightToLeft;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
  margin-bottom: 6.5rem;
}
@media only screen and (max-width: 1260px) {
  .title-first__secondary {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__secondary {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
}

.title-second {
  display: inline-block;
  font-weight: 800;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #BA8554 3.65%, #A14F03 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1260px) {
  .title-second {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-second {
    line-height: 1.4;
    letter-spacing: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-second {
    letter-spacing: 0.2rem;
  }
}
.title-second:hover {
  transform: skewY(4deg) skewX(15deg) scale(1.05);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.title-second_white {
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  position: relative;
  backface-visibility: hidden;
  z-index: 10;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 1260px) {
  .title-third {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-third {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-third {
    font-size: 2.2rem;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 1260px) {
  .paragraph {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 900px) {
  .paragraph {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .paragraph {
    font-size: 2rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom10 {
  margin-bottom: 1rem;
}

.margin-bottom25 {
  margin-bottom: 2.5rem;
}

.margin-bottom30 {
  margin-bottom: 3rem;
}

.margin-bottom50 {
  margin-bottom: 5rem;
}

.margin-bottom80 {
  margin-bottom: 8rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  background: #fff;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1260px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    padding: 1.3rem 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem 5rem;
  }
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: bottomToTop 0.5s ease-in-out 1.5s;
  animation-fill-mode: backwards;
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #BA8554;
  color: #fff;
}
.btn_brown::after {
  content: "";
  background: #BA8554;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #A14F03;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  padding: 1.4rem;
  border-bottom: 1px #A14F03 solid;
  transition: all 0.3s ease;
}
.btn-text:hover {
  background: #A14F03;
  color: #fff;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-0.4rem);
}
.btn-text:active {
  transform: translateY(0rem);
  transform-transform: translateY(-2px);
  transform-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.composition {
  height: 35rem;
  width: 100%;
  position: relative;
}
.composition__img {
  width: 60%;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  outline-offset: 1rem;
  z-index: 10;
  transition: all 0.6s ease;
}
.composition__img_n1 {
  top: 0;
  left: 2rem;
}
.composition__img_n2 {
  top: 20%;
  right: 0;
}
.composition__img_n3 {
  bottom: 0;
  left: 6rem;
}
.composition__img:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__img:not(:hover) {
  transform: scale(0.9);
}

.adventure-card {
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90deg, #BA8554 3.65%, #A14F03 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.tour-card {
  height: 50.2rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card {
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
    height: auto;
  }
}
.tour-card__side {
  height: 50.2rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
}
.tour-card__side_front {
  z-index: 10;
}
@media only screen and (max-width: 900px) {
  .tour-card__side_front {
    height: auto;
    position: relative;
  }
}
.tour-card__side_back {
  background: linear-gradient(135deg, #BA8554 3.65%, #A14F03 100%);
  transform: rotateY(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__side_back {
    height: auto;
    position: relative;
    transform: rotateY(0deg);
    clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 100%);
  }
}
.tour-card:hover .tour-card__side_front {
  transform: rotateY(180deg);
  z-index: 1;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card:hover .tour-card__side_front {
    transform: rotateY(0deg);
  }
}
.tour-card:hover .tour-card__side_back {
  transform: rotateY(0deg);
  z-index: 10;
}
.tour-card__img {
  height: 24.5rem;
  background-blend-mode: hard-light;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__img {
    height: 30rem;
  }
}
.tour-card__img-1 {
  background: #BA8554 url("../img/img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-card__img-2 {
  background: #BA8554 url("../img/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-card__img-3 {
  background: #BA8554 url("../img/img-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-card__title {
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: 0.07em;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 19rem;
  right: 0;
}
@media only screen and (max-width: 900px) {
  .tour-card__title {
    top: 25rem;
    font-size: 3.8rem;
  }
}
.tour-card__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 1rem 2rem 0.6rem 2rem;
}
.tour-card__span-2 {
  position: absolute;
  top: 3.5rem;
  right: 0;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  .tour-card__span-2 {
    top: 4.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .tour-card__descr {
    text-align: center;
  }
}
.tour-card__descr ul {
  list-style: none;
  text-align: center;
  padding-top: 4.5rem;
}
@media only screen and (max-width: 900px) {
  .tour-card__descr ul {
    padding: 6rem 2.5rem 0 2.5rem;
    display: inline-flex;
    flex-direction: column;
  }
}
.tour-card__descr ul li {
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #777;
  text-decoration-skip-ink: none;
}
@media only screen and (max-width: 900px) {
  .tour-card__descr ul li {
    font-size: 2rem;
  }
}
.tour-card__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.tour-card__backside-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 32rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .tour-card__backside-box {
    min-height: auto;
    gap: 3rem;
    padding: 15rem 0 10rem;
  }
}
.tour-card__text {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
}
.tour-card__price {
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #fff;
}
.tour-card__price span {
  font-weight: 300;
}

.feedback-card {
  width: 85%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 5.5rem 15rem;
  transform: skew(330deg);
  position: relative;
}
@media only screen and (max-width: 900px) {
  .feedback-card {
    transform: skew(350deg);
    padding: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .feedback-card {
    width: 78%;
    transform: skew(355deg);
  }
}
.feedback-card > * {
  transform: skew(-330deg);
}
@media only screen and (max-width: 900px) {
  .feedback-card > * {
    transform: skew(-350deg);
  }
}
@media only screen and (max-width: 600px) {
  .feedback-card > * {
    transform: skew(-355deg);
  }
}
.feedback-card__img {
  float: left;
  width: 16.7rem;
  height: 16.7rem;
  border-radius: 50%;
  margin-right: 3rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .feedback-card__img {
    float: none;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.feedback-card__img img {
  width: 100%;
  transform: scale(1.2);
  transition: all 0.6s ease;
}
.feedback-card__box {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .feedback-card__box h3 {
    text-align: center;
    line-height: 1.4;
  }
}
.feedback-card__name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  color: #fff;
  transition: all 0.6s ease;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg__gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.6) 3.65%, rgba(0, 0, 0, 0.6) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-box {
  height: 50rem;
  width: 100%;
  background-image: linear-gradient(114deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 54%, rgba(186, 133, 84, 0.3) 54%, rgba(161, 79, 3, 0.3) 100%), url("../img/form__bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .form-box {
    height: 100%;
    background-image: linear-gradient(114deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 504%, rgba(186, 133, 84, 0.3) 504%, rgba(161, 79, 3, 0.3) 100%), url("../img/form__bg.jpg");
  }
}

.form {
  width: 70%;
  padding-top: 5rem;
  padding-left: 5rem;
  width: 100%;
  height: 100%;
  padding: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1260px) {
  .form__group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.form__group:nth-child(5) {
  margin-top: 3.5rem;
}
@media only screen and (max-width: 900px) {
  .form__group:nth-child(5) {
    text-align: center;
  }
}
.form__input {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #000;
  padding: 1.8rem 1.8rem 1.8rem 2.2rem;
  background: #fff;
  border: none;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.3rem;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .form__input {
    width: 100%;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 0.4rem solid #66D763;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 0.4rem solid #D76363;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__input:placeholder-shown:focus + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(0rem);
}
.form__label {
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  display: block;
  transition: all 0.3s ease;
}
.form__group-radio {
  display: inline-block;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 1260px) {
  .form__group-radio {
    display: block;
    margin-right: 0;
  }
  .form__group-radio:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.form__input-radio {
  display: none;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__button-radio {
  display: block;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
  border: 0.5rem solid #A14F03;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #A14F03;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 114rem;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1260px) {
  .row {
    max-width: 100rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60rem;
    flex-direction: column;
    gap: 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 6rem) / 3);
}
@media only screen and (max-width: 1260px) {
  .col-1-of-3 {
    width: calc((100% - 2rem) / 3);
  }
}

.col-2-of-3 {
  width: calc(2 * (100% - 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1260px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}

.col-2-of-4 {
  width: calc(2 * (100% - 6rem) / 4);
}

.col-3-of-4 {
  width: calc(6rem + (100% - 3 * 6rem) / 4 + 2 * (100% - 6rem) / 4);
}

[class^=col-] {
  margin-right: 6rem;
  height: 100%;
}
@media only screen and (max-width: 1260px) {
  [class^=col-] {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0;
  }
}
[class^=col-]:last-child {
  margin-right: 0;
}

.header {
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/baloons__bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative;
}
@media (min-resolution: 192dpi) and (min-width: 670px), (min-width: 1340px) {
  .header {
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/baloons__bg_big.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.header__logo {
  width: 5.6rem;
  height: 7rem;
  position: absolute;
  left: 5rem;
  top: 5rem;
}
.header__wrap {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1260px) {
  .header__wrap {
    top: 50%;
  }
}

.footer {
  padding: 8rem 0;
  background: #333;
}
.footer__box {
  text-align: center;
}
.footer__logo {
  margin-bottom: 5rem;
  width: 12rem;
}
@media only screen and (max-width: 1260px) {
  .footer__logo {
    margin-bottom: 4rem;
    width: 8rem;
  }
}
.footer__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media only screen and (max-width: 900px) {
  .footer__menu-list {
    flex-wrap: wrap;
  }
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 900px) {
  .footer__link:link, .footer__link:visited {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer__link:link, .footer__link:visited {
    font-size: 2rem;
  }
}
.footer__link:hover {
  color: #BA8554;
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: rotate(4deg) scale(1.2);
}

.navigation__button {
  background: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 10rem;
  right: 10rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .navigation__button {
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  }
}
.navigation__bg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  right: 10.5rem;
  top: 10.5rem;
  z-index: 100;
  transition: all 0.7s;
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__item {
  width: 100%;
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
.navigation__link:link, .navigation__link:visited {
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  padding: 1rem 2rem;
  transition: all 1s ease;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
  }
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #A14F03;
  transform: translateX(1rem);
}
.navigation__toggle {
  display: none;
}
.navigation__toggle:checked ~ .navigation__bg {
  transform: scale(80);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  background: #000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  transform: rotate(45deg);
  top: 0;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.about {
  padding-top: 8rem;
}
@media only screen and (max-width: 1260px) {
  .about {
    padding-top: 6rem;
  }
}

.adventure {
  padding: 21.5rem 0;
  background-image: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/adventure__bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}
@media only screen and (max-width: 1260px) {
  .adventure {
    margin-bottom: 6rem;
    padding: 15rem 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .adventure {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  }
}

.tour {
  padding-bottom: 8rem;
}
@media only screen and (max-width: 1260px) {
  .tour {
    padding-bottom: 6rem;
  }
}

.feedback {
  padding: 8rem 0;
  position: relative;
}

.book {
  padding: 10rem;
  background: linear-gradient(90deg, #BA8554 0%, #A14F03 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 900px) {
  .book {
    padding: 5rem;
  }
}/*# sourceMappingURL=style.css.map */