.row
  display: flex
  align-items: stretch
  justify-content: space-between
  max-width: $row-container
  height: 100%  
  margin: 0 auto
  @include respond(tab-land)
    max-width: 100rem 
  @include respond(tab-port)
    max-width: 60rem    
    flex-direction: column
    gap: 3rem
  
  &:not(:last-child)
    margin-bottom: $margin-bottom-large
    

.col-1-of-2
  width: calc((100% - #{$row-gutter})/2)  
  
.col-1-of-3
  width: calc((100% - #{$row-gutter})/3)
  @include respond(tab-land)
    width: calc((100% - #{2rem})/3)



.col-2-of-3
  width: calc(2*((100% - #{$row-gutter})/3) + #{$row-gutter})
  
.col-1-of-4
  width: calc((100% - 3*#{$row-gutter})/4)
  @include respond(tab-land)
    width: calc((100% - 3*#{2rem})/4)


.col-2-of-4
  width: calc(2*((100% - #{$row-gutter})/4) )
  

.col-3-of-4
 width: calc(#{$row-gutter} + ((100% - 3*#{$row-gutter})/4 + 2*((100% - #{$row-gutter})/4)))

[class^="col-"]  
  margin-right: $row-gutter
  height: 100%
  @include respond(tab-land)
    margin-right: 2rem
  @include respond(tab-port)
    width: 100%
    margin-right: 0

  
  &:last-child
    margin-right: 0  

