body
  font-family: $font-family  
  font-weight: 400
  color: $color-grey
  font-size: $font-size-paragraph
  letter-spacing: 0.2rem
  
//стили заголовка h1 в блоке header
.title-first
  color: $color-white
  text-transform: uppercase
  &__main
    display: block       
    font-weight: 800
    font-size: 5rem
    letter-spacing: 1rem
    margin-bottom: 1.5rem
    animation-name: leftToRight
    animation-duration: 2s
    animation-delay: .2s 
    animation-timing-function: ease
    animation-fill-mode: backwards
    backface-visibility: hidden
    @include respond(tab-land)
      font-size: 4rem
    @include respond(tab-port)
      font-size: 3.6rem
      letter-spacing: .5rem
       margin-bottom: 0

  &__secondary
    display: block      
    font-weight: 300
    font-size: 4rem
    letter-spacing: 0.12em    
    text-transform: lowercase
    animation-name: rightToLeft
    animation-duration: 2s
    animation-delay: .2s 
    animation-timing-function: ease
    backface-visibility: hidden
    animation-fill-mode: backwards
    margin-bottom: 6.5rem
    @include respond(tab-land)
      font-size: 3.5rem
      margin-bottom: 3.5rem
     
    @include respond(tab-port)
      font-size: 3.2rem
      letter-spacing: .2rem 
.title-second
  display: inline-block  
  font-weight: 800
  font-size: $font-size-paragraph-h2
  letter-spacing: 1rem
  text-transform: uppercase  
  background: linear-gradient(90deg, $color-light-brown 3.65%, $color-dark-brown 100%)
  background-clip: text
  -webkit-background-clip: text
  color: transparent
  -webkit-text-fill-color: transparent
  transition: all .5s ease
  backface-visibility: hidden
  @include respond(tab-land)
    font-size: 3rem
  @include respond(tab-port)
    line-height: 1.4
    letter-spacing: .8rem
  @include respond(phone)
    letter-spacing: .2rem

  &:hover
    transform: skewY(4deg) skewX(15deg) scale(1.05)
    text-shadow: $text-shadow-h2
  &_white    
    background: $color-white
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: $color-white
    position: relative
    backface-visibility: hidden
    z-index: 10 
.title-third
  font-weight: 700
  font-size: $font-size-paragraph-h3
  letter-spacing: 0.2rem
  @include respond(tab-land)
    font-size: 1.8rem
  @include respond(tab-port)
    font-size: 2rem
  @include respond(phone)
    font-size: 2.2rem
  
.paragraph  
  font-weight: 400
  font-size: $font-size-paragraph
  line-height: 140%
  letter-spacing: 0.2rem
  @include respond(tab-land)
    font-size: 1.4rem
  @include respond(tab-port)
    font-size: 1.8rem
  @include respond(phone)
    font-size: 2rem
   
  

    
    

